@model IEnumerable<pushpod.Models.Repository>

@{
ViewData["Title"] = "Repositories";
}

<h1>Repositories</h1>

<p>
	<input type="text" id="search" placeholder="Search for repositories..">
	<a asp-action="Create" class="btn btn-primary">New</a>
</p>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Description)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.CreatedAt)
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var repository in Model) {
		<tr>
			<td>
				<a asp-action="">@Html.DisplayFor(modelItem => repository.Name)</a>
			</td>
			<td>
				@Html.DisplayFor(modelItem => repository.Description)
			</td>
			<td>
				@Html.DisplayFor(modelItem => repository.CreatedAt)
			</td>
		</tr>
		}
	</tbody>
</table>
